body {
    background-color: #fff;
    font-family: "Quicksand", serif;
}

header {
    margin: 20px 140px;
    padding: 15px 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.end-line {
    display: none;
}

/* Left Section (Logo and Title) */
.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-section img {
    height: 62px;
    width: 62px;
    border-radius: 50%;
}

.logo-section span {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a {
    text-decoration: none;
    font-size: 20px;
}
.links-1 {
    color: orange;
    font-weight: bold;
}
.links-2 {
    color: rgb(28, 217, 224);
    font-weight: bold;
}
.links-3 {
    color: rgb(96, 176, 230);
    font-weight: bold;
}
.links-4 {
    color: rgb(232, 222, 24);
    font-weight: bold;
}
/* Right Section (Button) */
.login-btn {
    background-color: #eea508e9;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menu-icon {
    display: none;
}

/* banner section style */
.banner {
    margin: 20px 140px;
}
.banner-container {
    display: flex;
    align-items: center;
    gap: 20%;
    margin-top: 20px;
}
.banner-heading {
    font-size: 54px;
    margin: 0;
    margin-bottom: 24px;
}
.text-empowering {
    color: rgb(255, 218, 8);
}
.text-vision {
    color: rgba(46, 211, 184, 0.87);
}
.banner-description {
    font-size: 18px;
    margin: 0;
    margin-bottom: 24px;
}
.banner-btn {
    background-color: #080808e9;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.banner-img {
    height: 30%;
    width: 55%;
}
/* Standard curriculum style  */
.standard-section {
    background: url(assets/bg.png);
    background-size: cover;
    text-align: center;
    margin: 20px 140px;
}
.standard-heading {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 3.5rem 5rem;
}

/* card section */
.card-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 20px;
    border-radius: 1.1rem;
}
.signal-card1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 2.5rem;
    border-radius: 10px;
    background: linear-gradient(180deg, #eaffd9, #ffffff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.signal-card2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 2.5rem;
    border-radius: 10px;
    background: linear-gradient(180deg, #dcdeff, #ffffff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.signal-card3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding: 2.5rem;
    border-radius: 10px;
    background: linear-gradient(180deg, #bbfff3, #ffffff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.card-btn1 {
    background: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(44, 222, 85, 0.885);
    border: 0;
    padding: 5px 1.5rem 0 0;
}
.card-btn2 {
    background: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(75, 167, 247);
    border: 0;
    padding: 5px 1.5rem 0 0;
}
.card-btn3 {
    background: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(167, 68, 243);
    border: 0;
    padding: 5px 1.5rem 0 0;
}
/* arrow section */
.carousel-nav {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;

    /* transform: translateY(-50%); */
}

.carousel-icon {
    font-size: 2rem;
    color: white;
    background: orange;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* our stories section */
.stories-container {
    background: linear-gradient(45deg, rgba(32, 32, 32, 0.1), rgba(0, 0, 0, 0.1)), url(assets/bg.png);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    margin: 20px 140px;
    /* margin-bottom: 5rem; */
    box-shadow: 0 -6px 15px 5px rgba(205, 203, 203, 0.574);
}
.arrow-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0 3.9rem 0;
}
.arrow-left {
    height: 5%;
    width: 5%;
}
.arrow-right {
    height: 5%;
    width: 5%;
}

.stories-title {
    margin-top: 3.5rem;
    margin-bottom: 4.2rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
}

.stories-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.box-1 {
    grid-column: span 2;
    grid-row: span 4;
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: center;
}

.box-1 > img,
.box-2 > img,
.box-3 > img,
.box-3 > img,
.box-4 > img,
.box-5 > img {
    width: 100%;
}
.box-2,
.box-3,
.box-4,
.box-5 {
    background-color: #fff;
    border-radius: 0.5rem;
    position: relative;
}
.stories-card-container img {
    border-radius: 0.5rem 0.5rem 0 0;
}
.box-date {
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    background-color: rgb(252, 176, 76);
    border-radius: 1rem;
    padding: 0.5rem;
    top: 57%;
    left: 10%;
}
.box-date2 {
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    background-color: #bcf7d2;
    border-radius: 1rem;
    padding: 0.5rem;
    top: 57%;
    left: 15%;
}
.box-date3 {
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    background-color: #c4fd8f;
    border-radius: 1rem;
    padding: 0.5rem;
    top: 57%;
    left: 15%;
}
.box-date4 {
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    background-color: #b3ff70;
    border-radius: 1rem;
    padding: 0.5rem;
    top: 57%;
    left: 15%;
}
.box-date5 {
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    background-color: #fcecca;
    border-radius: 1rem;
    padding: 0.5rem;
    top: 57%;
    left: 15%;
}

.box-title {
    font-size: 1.5rem;
    font-weight: 600;
}
.box-title2,
.box-title3,
.box-title4,
.box-title5 {
    font-size: 0.9rem;
    font-weight: bolder;
    margin: 0;
    padding: 1.6rem 1.5rem;
    line-height: 2rem;
    text-align: justify;
}

.box-description {
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 1.5rem;
}
.box-btn {
    display: flex;
    justify-content: center;
    background: url(assets/bg.png);
    margin: 0 140px;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

table {
    width: 100%;
    background-color: #a2f4ff;
    color: black;
    text-align: center;
    border-collapse: collapse;
}
td {
    padding: 10px;
}
a {
    color: #00c4ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    background: #233b3ace;
    padding: 0 9.5rem;
}
.education-footer {
    display: flex;
    gap: 5rem;
}
.education-container {
    padding: 1rem;
}
.education-container-logo {
    display: flex;
    margin-top: 8rem;
    /* gap: 0.7rem; */
}

.education-title {
    margin: 0;
    font-size: 2.6rem;
    color: floralwhite;
    font-weight: bold;
}
.education-title-description {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 2.1rem;
    margin-bottom: 11rem;
}
.about-school-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 7.5rem;
}
.about-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.about-school-container > a {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}
.social-media {
    display: inline-block;
}
@media screen and (max-width: 576px) {
    body {
        margin: 0;
        padding: 1rem;
    }
    header,
    .banner,
    .standard-section {
        margin: 0 1rem;
    }
    .nav-links,
    .login-btn,
    .logo-section span {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .end-line {
        display: block;
        border: 0.1rem solid orange;
    }
    .banner-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .banner-heading {
        font-size: 2rem;
        margin: 0;
        margin-bottom: 24px;
    }
    .standard-heading {
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        margin-top: 1rem;
        padding: 0;
    }
    .card-container {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        border-radius: 1.1rem;
    }
    .carousel-nav {
        display: none;
    }
    .box-1 {
        display: none;
    }
    .stories-container {
        background: linear-gradient(45deg, rgba(219, 115, 115, 0.547), rgba(0, 0, 0, 0.1)), url(assets/bg.png);
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem;
        margin: 0;
        box-shadow: 0 -6px 15px 5px rgba(205, 203, 203, 0.574);
    }
    .stories-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .box-date2,
    .box-date3,
    .box-date4,
    .box-date5 {
        padding: 0.1rem;
        top: 35%;
        left: 15%;
    }

    .box-title2,
    .box-title3,
    .box-title4,
    .box-title5 {
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.8rem;
        margin: 0;
        text-align: justify;
    }
    .box-btn {
        display: flex;
        justify-content: center;
        background: url(assets/bg.png);
        margin: 0;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
    footer {
        padding: 0;
    }
    .education-footer {
        flex-direction: column;
        gap: 1.5rem;
    }
    .education-container-logo {
        margin: 1rem 0;
    }
    .education-title-description {
        margin-bottom: 1rem;
    }
    .about-school-container {
        margin-top: 1rem;
        padding-left: 1rem;
    }
}
